.about {
  background-color: #f2f2f2;
  color: black;
}

.about a {
  color: black;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.about__title {
  text-align: center;
}

.image-wrapper {
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
}

.about__image {
  width: 100%;
  height: auto;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill,
.courses-link,
.language {
  display: flex;
  align-items: center;
  vertical-align: top;
  margin-bottom: 10px;
}

.skill {
  flex-basis: 20%;

  @media (max-width: 500px) {
    flex-basis: 45%;
  }
}

.skill__icon,
.course-icon,
.language-icon {
  margin-right: 15px;
  width: 35px;
  height: 35px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
}

.html {
  background-image: url(../images/html_icon.svg);
}

.css {
  background-image: url(../images/css_icon.svg);
}

.sass {
  background-image: url(../images/sass_icon.svg);
}

.js {
  background-image: url(../images/js_icon.svg);
}

.git {
  background-image: url(../images/git.svg);
}

.react {
  background-image: url(../images/react.svg);
}

.figma {
  background-size: 13px;
  background-image: url(../images/figma-1.svg);
}

.photoshop {
  background-image: url(../images/photoshop_icon.svg);
}

.vsc {
  background-image: url(../images/vsc.png);
}

.gulp {
  width: 45px;
  height: 45px;
  background-image: url(../images/gulp.svg);
  background-size: contain;
}

.php {
  background-image: url(../images/php.svg);
}

.sql {
  background-image: url(../images/sql.png);
}

.linux {
  background-image: url(../images/linux.svg);
}

.laravel {
  background-image: url(../images/laravel.svg);
}

.webpack {
  background-image: url(../images/webpack.png);
}

.stepik {
  background-image: url(../images/stepik.jpg);
}

.academy {
  background-image: url(../images/academy.png);
}

.solo {
  background-image: url(../images/solo.jpg);
}

.eng {
  background-image: url(../images/britain.svg);
}

.ger {
  background-image: url(../images/germany.png);
}

.ukr {
  background-image: url(../images/ukraine.png);
}

.rus {
  background-image: url(../images/russia.jpg);
}
